Package: cn.tinyapps.GPSTraveller
Name: GPS穿越器
Version: 1.1.2
Description: 不出门也能行千里
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Tinyapps.cn
dev: 
Homepage: www.tinyapps.cn
Depiction: 
Maintainer: Tinyapps.cn

