Package: cn.tinyapps.GPSTraveller
Name: GPSTraveller
Version: 1.1
Description: a gps modifier application with which you can go around the world in 1 second.
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Tinyapps.cn
dev: 
Homepage: www.tinyapps.cn
Depiction: 
Maintainer: Tinyapps.cn

